section{
    margin-bottom: 2rem;
}

.textTitle{
    margin-bottom: 20px;
    color: #474747;
    font-weight: 500;
    font-size: 18px;
}

.logContainer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.logContainer a{
    padding: 8px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #BFC5CF;
    transition: .2s all;
}

.logContainer a:hover{
    background:  #0084fb;
    color: white;
    border: 1px solid #0084fb;
    cursor: pointer;
}

.containerMetrica p, .containerMetrica{
    margin-bottom: 1rem;
}

.metricContainer{
    display: flex;
    align-items: center;
    gap: 34px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.metricContainer a{
    padding: 4px 8px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #BFC5CF;
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: max-content;
    transition: .2s all;
}

.metricContainer a:hover{
    border: solid 1px #0084fb;
    box-shadow: 1px 2px 2px #0084fb;
    cursor: pointer;
}

.numberSpan{
    padding: 6px 4px;
    border-radius: 50%;
    color: white;
    width: 32px;
    font-size: 15px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textSpan{
    font-size: 1rem;
    color: #3E3E3E;
}

.metricContainer a img{
    width: 12px;
    height: 20px;
}



/* shortcuts */
.containerCirculates{
    position: relative;
}
.circulatesContainer{
    display: flex;
    align-items: start;
    gap: 34px;
    margin-top: 20px;
}

.circulatesContainer .contentTop{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.circulatesContainer .contentTop label{
    cursor: pointer;
    font-size: .9rem;
}

.circulatesContainer .contentTop .select{
    display: flex;
    align-items: center;
    gap: 9px;
    width: 180px;
    cursor: pointer;
    padding: 10px 8px;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    box-shadow: 0px 1px 3px #E6E6E6;
}

.circulatesContainer .contentTop .select img{
    max-width: 15px;
    height: 15px;
}
.circulatesContainer .contentTop .select span{
    font-size: .9rem;
}

.circulatesContainer .contentBottom{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 30px;
}

.boxImg{
    background: #fff;
    border: 1px solid #DADADA;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 2px #BFC5CF;
    transition: .2s all;
    position: relative;
}

.boxImg img{
    width: 25px;
    height: 25px;
    position: relative;
    z-index: 11;
}


.boxImg:hover{
    border: solid 1px #0084fb;
    box-shadow: 1px 2px 2px #0084fb;
}

.boxContAdd{
    background-color: #EBEBEB;
}

.boxCont .textAdd{
    color: #A5A5A5;
}

.boxCont{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: 4rem;
    width: 126px;
}

.boxCont .fixar{
    position: absolute;
    top: 0;
    right: 0;
}
.boxCont .fixar img{
    max-width: 10px;
    height: 15px;
}

.boxCont p {
    font-size: 1rem;
    color: #3E3E3E;
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical; 
    max-width: 137px;
}

.bgSpan{
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
}


.imgClients{
    width: 25px;
    height: 25px;
}


.containerHistorico, .containerRecente{
    margin: 5rem 0;
}

.recentContainer, .tasksContainer{
    display: flex;
    align-items: center;
    gap: 25px;
}
.recentContainer .boxRecent, .tasksContainer .boxRecent {
    width: 100%;
    max-width: 350px;
    display: block;
    padding: 16px 8px;
    border: 1px solid #DADADA;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #BFC5CF;
    position: relative;
    transition: all .3s;
}
.recentContainer .boxRecent:hover, .tasksContainer .boxRecent:hover{
    border: solid 1px #0084fb;
    box-shadow: 1px 2px 2px #0084fb;
    cursor: pointer;
}
.recentContainer .boxRecent .divClients, .tasksContainer .boxRecent .divMarked{
    width: 100%;
    max-width: max-content;
    padding: 8px;
    border-radius: 7px;
    margin-bottom: 1rem;
}
.recentContainer .boxRecent .divClients .imgClients{
    max-width: 25px;
    height: 25px;
}

.recentContainer .boxRecent div .imgFixar{
    max-width: 10px;
    height: 15px;
    position: absolute;
    top: 14px;
    right: 22px;
}

.tasksContainer  div .imgFixar{
    max-width: 10px;
    height: 15px;
    position: absolute;
    top: 14px;
    right: 22px;
}

.recentContainer .boxRecent .date{
    color: #939393;
    font-size: 13px;
    margin-bottom: .4rem;
}

.recentContainer .boxRecent .title{
    font-size: 1rem;
}

.recentContainer .boxRecent .divMarked{
    background: #EEE9FB;
}

@media(max-width: 1090px){
    .recentContainer, .tasksContainer {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width: 640px){
    .circulatesContainer .contentBottom {
        justify-content: center;
        margin-top: 4.5rem;
    }
    .circulatesContainer .contentTop {
        flex-wrap: wrap;
        justify-content: center;
    }
    .boxCont {
        margin-top: 0;
    }
    .circulatesContainer {
        margin-top: 46px;
    }
}

@media(max-width: 450px){
    .metricContainer{
        gap: 18px;
    }
}